section.best.py-5
	.container
		.row
			.col-lg-3.pl-lg-2
				.best__descr.pt-4.mb-3.mb-lg-0
					h3.descr__header.mb-3.section__sub Best Web Hosting
					p.descr__text.mb-0 The best best hosting added to our listing, including detailed casino reviews and ratings, bonuses, promotions, and experiences by real players right at your fingertips. Here you can find the top web hosting we have included in our database just recently.
			.col-lg-3.px-lg-2.col-sm-6
				.item.pt-4.mb-3.mb-lg-0
					img.star-choise(src='templates/images/best-icon.png')
					img.item__logo(src='templates/images/demo-logo.png')
					.item__rating.mb-2.d-flex.justify-content-center
						.item__rating-stars.mr-2
							i.fas.fa-star.active
							i.fas.fa-star.active
							i.fas.fa-star.active
							i.fas.fa-star
							i.fas.fa-star
						.item__rating-number 3.8
					.item__desc.p-3
						.item__name HostGator
						.item__price.mb-2 From: $
							span 2.60
						a(href='#').item__btn.mb-2 Visit Site
						a(href='#').item__link BlueHost 
							span review »
			.col-lg-3.px-lg-2.col-sm-6
				.item.pt-4.mb-3.mb-lg-0
					img.star-choise(src='templates/images/best-icon.png')
					img.item__logo(src='templates/images/demo-logo.png')
					.item__rating.mb-2.d-flex.justify-content-center
						.item__rating-stars.mr-2
							i.fas.fa-star.active
							i.fas.fa-star.active
							i.fas.fa-star.active
							i.fas.fa-star
							i.fas.fa-star
						.item__rating-number 3.8
					.item__desc.p-3
						.item__name HostGator
						.item__price.mb-2 From: $
							span 2.60
						a(href='#').item__btn.mb-2 Visit Site
						a(href='#').item__link BlueHost 
							span review »
			.col-lg-3.px-lg-2.col-sm-6
				.item.pt-4
					img.star-choise(src='templates/images/best-icon.png')
					img.item__logo(src='templates/images/demo-logo.png')
					.item__rating.mb-2.d-flex.justify-content-center
						.item__rating-stars.mr-2
							i.fas.fa-star.active
							i.fas.fa-star.active
							i.fas.fa-star.active
							i.fas.fa-star
							i.fas.fa-star
						.item__rating-number 3.8
					.item__desc.p-3
						.item__name HostGator
						.item__price.mb-2 From: $
							span 2.60
						a(href='#').item__btn.mb-2 Visit Site
						a(href='#').item__link BlueHost 
							span review »