section.blog.pt-5.pb-5
	.container
		.row
			.col-12
				h3.section__header.mb-4 SiteGeek Blog
		.row
			.col-lg-9
				.row
					.col-lg-4
						.blog__news.article.mb-5
							img(src='/templates/images/temp-article.png').article__image.mb-3
							p.mb-1.article__title HostBill Delivers Robust Hosting Billing & Automation Services
							p.mb-1.article__descr by 
								span John Callaham 
								| on 
								span May 29, 2018
							a(href='#').article__link Read article →
					.col-lg-4
						.blog__news.article
							img(src='/templates/images/temp-article.png').article__image.mb-3
							p.mb-1.article__title HostBill Delivers Robust Hosting Billing & Automation Services
							p.mb-1.article__descr by 
								span John Callaham 
								| on 
								span May 29, 2018
							a(href='#').article__link Read article →
					.col-lg-4
						.blog__news.article
							img(src='/templates/images/temp-article.png').article__image.mb-3
							p.mb-1.article__title HostBill Delivers Robust Hosting Billing & Automation Services
							p.mb-1.article__descr by 
								span John Callaham 
								| on 
								span May 29, 2018
							a(href='#').article__link Read article →
					.col-lg-4
						.blog__news.article
							img(src='/templates/images/temp-article.png').article__image.mb-3
							p.mb-1.article__title HostBill Delivers Robust Hosting Billing & Automation Services
							p.mb-1.article__descr by 
								span John Callaham 
								| on 
								span May 29, 2018
							a(href='#').article__link Read article →
					.col-lg-4
						.blog__news.article
							img(src='/templates/images/temp-article.png').article__image.mb-3
							p.mb-1.article__title HostBill Delivers Robust Hosting Billing & Automation Services
							p.mb-1.article__descr by 
								span John Callaham 
								| on 
								span May 29, 2018
							a(href='#').article__link Read article →
					.col-lg-4
						.blog__news.article.mb-5
							img(src='/templates/images/temp-article.png').article__image.mb-3
							p.mb-1.article__title HostBill Delivers Robust Hosting Billing & Automation Services
							p.mb-1.article__descr by 
								span John Callaham 
								| on 
								span May 29, 2018
							a(href='#').article__link Read article →
				.row
					.col-12
						a(href='#').blog__link Visit SiteGeek blog
			.col-lg-3
				.mail.text-center.mb-3.px-3.pt-5.pb-4
					img.mail__icon(src='/templates/images/mail-icon.png')
					p.mail__header.mb-1.mt-2 Don't Get Left Behind
					p.mail__text Join for the latest host reviews, hot deals, and exciting giveaways.
					form.mail__form.mb-3
						input(type='text' placeholder='Email address').mail__input.form-control.mb-2
						a(href='#').mail__btn Sign Up
					p.mail__descr.mb-0 We guarantee 100% privacy. Your information will never be shared.
				.side-menu.resources
					.side-menu__header.py-2.px-3 Useful resources
					ul.resources__list
						li.resources__item
							a.resources__link.d-flex.p-3.align-items-center(href='#')
								img(src='/templates/images/how-to.png').resources__icon.mr-2
								p.resources__name.mb-0 How-to choose a domain name
						li.resources__item
							a.resources__link.d-flex.p-3.align-items-center(href='#')
								img(src='/templates/images/parking.png').resources__icon.mr-2
								p.resources__name.mb-0 Parking a domain name in easy way.
						li.resources__item
							a.resources__link.d-flex.p-3.align-items-center(href='#')
								img(src='/templates/images/http.png').resources__icon.mr-2
								p.resources__name.mb-0 HTTP Status Codes for Dummies
						li.resources__item
							a.resources__link.d-flex.p-3.align-items-center(href='#')
								img(src='/templates/images/wordpress.png').resources__icon.mr-2
								p.resources__name.mb-0 Wordpress blog launch 101 guide
