section.last-reviews.pt-5.pb-3
	.container
		.row
			.col-12.px-lg-2
				h3.section__header.mb-4 Latest Reviews
		.row
			.col-lg-2.col-md-3.col-sm-6.px-lg-2
				.item.pt-4.mb-3
					img.item__logo(src='templates/images/demo-logo.png')
					.item__rating.mb-2.d-flex.justify-content-center
						.item__rating-stars.mr-2
							i.fas.fa-star.active
							i.fas.fa-star.active
							i.fas.fa-star.active
							i.fas.fa-star
							i.fas.fa-star
						.item__rating-number 3.8
					.item__desc.p-3
						.item__name HostGator
						.item__price.mb-2 From: $
							span 2.60
						a(href='#').item__btn.mb-2 Visit Site
						a(href='#').item__link BlueHost 
							span review »
			.col-lg-2.col-md-3.col-sm-6.px-lg-2
				.item.pt-4.mb-3
					img.item__logo(src='templates/images/demo-logo.png')
					.item__rating.mb-2.d-flex.justify-content-center
						.item__rating-stars.mr-2
							i.fas.fa-star.active
							i.fas.fa-star.active
							i.fas.fa-star.active
							i.fas.fa-star
							i.fas.fa-star
						.item__rating-number 3.8
					.item__desc.p-3
						.item__name HostGator
						.item__price.mb-2 From: $
							span 2.60
						a(href='#').item__btn.mb-2 Visit Site
						a(href='#').item__link BlueHost 
							span review »
			.col-lg-2.col-md-3.col-sm-6.px-lg-2
				.item.pt-4.mb-3
					img.item__logo(src='templates/images/demo-logo.png')
					.item__rating.mb-2.d-flex.justify-content-center
						.item__rating-stars.mr-2
							i.fas.fa-star.active
							i.fas.fa-star.active
							i.fas.fa-star.active
							i.fas.fa-star
							i.fas.fa-star
						.item__rating-number 3.8
					.item__desc.p-3
						.item__name HostGator
						.item__price.mb-2 From: $
							span 2.60
						a(href='#').item__btn.mb-2 Visit Site
						a(href='#').item__link BlueHost 
							span review »
			.col-lg-2.col-md-3.col-sm-6.px-lg-2
				.item.pt-4.mb-3
					img.item__logo(src='templates/images/demo-logo.png')
					.item__rating.mb-2.d-flex.justify-content-center
						.item__rating-stars.mr-2
							i.fas.fa-star.active
							i.fas.fa-star.active
							i.fas.fa-star.active
							i.fas.fa-star
							i.fas.fa-star
						.item__rating-number 3.8
					.item__desc.p-3
						.item__name HostGator
						.item__price.mb-2 From: $
							span 2.60
						a(href='#').item__btn.mb-2 Visit Site
						a(href='#').item__link BlueHost 
							span review »
			.col-lg-2.col-md-3.col-sm-6.px-lg-2
				.item.pt-4.mb-3
					img.item__logo(src='templates/images/demo-logo.png')
					.item__rating.mb-2.d-flex.justify-content-center
						.item__rating-stars.mr-2
							i.fas.fa-star.active
							i.fas.fa-star.active
							i.fas.fa-star.active
							i.fas.fa-star
							i.fas.fa-star
						.item__rating-number 3.8
					.item__desc.p-3
						.item__name HostGator
						.item__price.mb-2 From: $
							span 2.60
						a(href='#').item__btn.mb-2 Visit Site
						a(href='#').item__link BlueHost 
							span review »
			.col-lg-2.col-md-3.col-sm-6.px-lg-2
				.item.pt-4.mb-3
					img.item__logo(src='templates/images/demo-logo.png')
					.item__rating.mb-2.d-flex.justify-content-center
						.item__rating-stars.mr-2
							i.fas.fa-star.active
							i.fas.fa-star.active
							i.fas.fa-star.active
							i.fas.fa-star
							i.fas.fa-star
						.item__rating-number 3.8
					.item__desc.p-3
						.item__name HostGator
						.item__price.mb-2 From: $
							span 2.60
						a(href='#').item__btn.mb-2 Visit Site
						a(href='#').item__link BlueHost 
							span review »
			.col-lg-2.col-md-3.col-sm-6.px-lg-2
				.item.pt-4.mb-3
					img.item__logo(src='templates/images/demo-logo.png')
					.item__rating.mb-2.d-flex.justify-content-center
						.item__rating-stars.mr-2
							i.fas.fa-star.active
							i.fas.fa-star.active
							i.fas.fa-star.active
							i.fas.fa-star
							i.fas.fa-star
						.item__rating-number 3.8
					.item__desc.p-3
						.item__name HostGator
						.item__price.mb-2 From: $
							span 2.60
						a(href='#').item__btn.mb-2 Visit Site
						a(href='#').item__link BlueHost 
							span review »
			.col-lg-2.col-md-3.col-sm-6.px-lg-2
				.item.pt-4.mb-3
					img.item__logo(src='templates/images/demo-logo.png')
					.item__rating.mb-2.d-flex.justify-content-center
						.item__rating-stars.mr-2
							i.fas.fa-star.active
							i.fas.fa-star.active
							i.fas.fa-star.active
							i.fas.fa-star
							i.fas.fa-star
						.item__rating-number 3.8
					.item__desc.p-3
						.item__name HostGator
						.item__price.mb-2 From: $
							span 2.60
						a(href='#').item__btn.mb-2 Visit Site
						a(href='#').item__link BlueHost 
							span review »
			.col-lg-2.col-md-3.col-sm-6.px-lg-2
				.item.pt-4.mb-3
					img.item__logo(src='templates/images/demo-logo.png')
					.item__rating.mb-2.d-flex.justify-content-center
						.item__rating-stars.mr-2
							i.fas.fa-star.active
							i.fas.fa-star.active
							i.fas.fa-star.active
							i.fas.fa-star
							i.fas.fa-star
						.item__rating-number 3.8
					.item__desc.p-3
						.item__name HostGator
						.item__price.mb-2 From: $
							span 2.60
						a(href='#').item__btn.mb-2 Visit Site
						a(href='#').item__link BlueHost 
							span review »
			.col-lg-2.col-md-3.col-sm-6.px-lg-2
				.item.pt-4.mb-3
					img.item__logo(src='templates/images/demo-logo.png')
					.item__rating.mb-2.d-flex.justify-content-center
						.item__rating-stars.mr-2
							i.fas.fa-star.active
							i.fas.fa-star.active
							i.fas.fa-star.active
							i.fas.fa-star
							i.fas.fa-star
						.item__rating-number 3.8
					.item__desc.p-3
						.item__name HostGator
						.item__price.mb-2 From: $
							span 2.60
						a(href='#').item__btn.mb-2 Visit Site
						a(href='#').item__link BlueHost 
							span review »
			.col-lg-2.col-md-3.col-sm-6.px-lg-2
				.item.pt-4.mb-3
					img.item__logo(src='templates/images/demo-logo.png')
					.item__rating.mb-2.d-flex.justify-content-center
						.item__rating-stars.mr-2
							i.fas.fa-star.active
							i.fas.fa-star.active
							i.fas.fa-star.active
							i.fas.fa-star
							i.fas.fa-star
						.item__rating-number 3.8
					.item__desc.p-3
						.item__name HostGator
						.item__price.mb-2 From: $
							span 2.60
						a(href='#').item__btn.mb-2 Visit Site
						a(href='#').item__link BlueHost 
							span review »
			.col-lg-2.col-md-3.col-sm-6.px-lg-2
				.item.pt-4.mb-3
					img.item__logo(src='templates/images/demo-logo.png')
					.item__rating.mb-2.d-flex.justify-content-center
						.item__rating-stars.mr-2
							i.fas.fa-star.active
							i.fas.fa-star.active
							i.fas.fa-star.active
							i.fas.fa-star
							i.fas.fa-star
						.item__rating-number 3.8
					.item__desc.p-3
						.item__name HostGator
						.item__price.mb-2 From: $
							span 2.60
						a(href='#').item__btn.mb-2 Visit Site
						a(href='#').item__link BlueHost 
							span review »