section.main-section.mb-5
	.container
		.row
			.col-12
				.banner.text-center.py-5
					h1.banner__header Choose web hosting 
						span.underline smartly
					p.banner__text.mb-4 Sitegeek’s helpful tools, expert reviews and tailored insights make it easy.
					form.form-inline.banner__search.search.justify-content-center
						input.search__input(type='text' placeholder='Search web hosts...')
						btn(href='#').search__btn Search
				.banner-nav
					ul.banner-nav__list.d-flex.justify-content-between.mb-0
						li.banner-nav__item
							a(href='#').banner-nav__link.d-flex.justify-content-center.p-3
								img(src='/templates/images/wp-icon.png').banner-nav__icon.mr-2
								p.banner-nav__text.mb-0 Wordpress Hosting
						li.banner-nav__item
							a(href='#').banner-nav__link.d-flex.justify-content-center.p-3
								img(src='/templates/images/e-com-icon.png').banner-nav__icon.mr-2
								p.banner-nav__text.mb-0 Ecommerce Hosting
						li.banner-nav__item
							a(href='#').banner-nav__link.d-flex.justify-content-center.p-3
								img(src='/templates/images/cloud-icon.png').banner-nav__icon.mr-2
								p.banner-nav__text.mb-0 Cloud Hosting
						li.banner-nav__item
							a(href='#').banner-nav__link.d-flex.justify-content-center.p-3
								img(src='/templates/images/blog-icon.png').banner-nav__icon.mr-2
								p.banner-nav__text.mb-0 Blog Hosting
						li.banner-nav__item
							a(href='#').banner-nav__link.d-flex.justify-content-center.p-3
								img(src='/templates/images/ssd-icon.png').banner-nav__icon.mr-2
								p.banner-nav__text.mb-0 SSD Hosting

