body, html{
	margin:0;
	height: 100%;
	font-family: CircularStd-Medium !important;
}
html{
	font-size: 16px;
	line-height: 1.6;
	-webkit-font-smoothing:antialised;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}
p{
	margin: 0;
	padding: 0;
}
ul,li{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
body{
	margin: 0 !important;
	background-color: #F6F6F6;
}

$lightBorder: #EAEAEA;
$headerBorder: #495057;
$mainBG: #BCCFEC;
$deepBlue: #061F57;
$lightBlue: #428DFF;
$textBlue: #6B7FAA;
$btnGreen: #3DB770;
$bannerNav: #032777;
$textGrey: #4A4A4A;
$headerGrey: #3B3F42;
$purpleBG: #713B81;
$orangeBG: #F27200;
$sideMenuColor: #343940;
$articleDescr: #9B9B9B;
$sectionBG: #f1f1f1;
$copyrightText: #B3B1B1;