extends ../_template

block variables
	- var title = ['Title','index page description','index page keywords']

block content
	include ../block/_header
	include ../block/_main
	include ../block/_last-rev
	include ../block/_best
	include ../block/_blog
	include ../block/_cheapest
	include ../block/_all-hosting
	include ../block/_footer
	include ../block/_copyright